@import "mixins";

/*========================*\
         TEXT COLOR
\*========================*/
.grey    { color: $grey; }
.grey-dk { color: $grey-dk; }
.grey-lt { color: $grey-lt; }
.black   { color: $black; }
.white   { color: $white; }


/*========================*\
          BG COLOR
\*========================*/
.grey-bg    { background-color: $grey; }
.grey-dk-bg { background-color: $grey-dk; }
.grey-lt-bg { background-color: $grey-lt; }
.black-bg   { background-color: $black; }
.white-bg   { background-color: $white; }


 //Fonts
@font-face {
  font-family: "sw-logo";
  src: url(/fonts/sw_font.ttf);
}

@font-face {
  font-family: "sw-heading";
  src: url(/fonts/sw_font.ttf);
}

.sw-logo {
  padding-top: 28%;
	font-family: "sw-logo";
	font-size: 6.6em;
	text-shadow: -5px 10px rgba(3,3,3,0.5);
	a {
		color: #FFF;
		text-decoration: none;
	}
}