/*======================================*\
  This file is house UI elements
  for your website or application. Items
  that help the user use or navigate your
  site/application

  Examples:
    - Navigation
    - Logos, headers
    - Dropdown menus
\*======================================*/

.sw-bg {
	background: url(/images/ui/sw-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.info-container {
  color: #fff;
  min-height: 92em;
  .text-box {
    width: 50%;
    &.r2 { margin-top: 12%; }
    &.community {
      width: 100%;
      margin-bottom: 4em;
    }
    h3 {
        font-family: "sw-heading";
        font-size: 3.5em;
      } 
    p { font-size: 2em; }
  }
}


.repo-content {
  background-color: rgba(255,255,255,0.5);
  padding-bottom: 6em;
  margin-top: 10em;
}

.mfalcon {
  min-height: 82em;
  background-image: url(/images/ui/mfalcon.png);
  background-repeat: no-repeat;
  background-position: center 100%;
}

.userinfo {
  padding-top: 3em;
  font-family: "sw-heading";
  a { text-decoration: none; color: #FFF; }
  h3 { font-size: inherit; }
  h4 { font-size: 1.5em; }
  .repo-title { 
    padding-top: 1em;
  }
}

.git-stats-container {
  padding-top: 3em;
  ul{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 3em;
    li {
      float: left;
      width: 24%;
      padding: 22px 27px 12px 27px;
    }
  }
}

.description-container {
  background-color: #FFF;
  color: #000;
  font-size: 1.2em;
  padding: 2em;
  opacity: 0.8;
  width: 80%;
  margin: 0 auto;
  min-height: 28em;
  h4 { margin-bottom: 1em; }
}

.t-heading { font-size: 3em; }


.get_repo {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #FFF;
}


