/*======================================*\
  This file is house UI elements
  for your website or application. Items
  that help the user use or navigate your
  site/application

  Examples:
    - Navigation
    - Logos, headers
    - Dropdown menus
\*======================================*/

.sw-bg {
	background: url(/images/ui/sw-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro {
  color: #fff;
  margin-top: 15em;
  .text-box { 
    margin-top: 12%; 
    width: 50%; 
    &.community { 
      width: 100%; 
      margin-bottom: 4em;
    }
    p { font-size: 1.8em; } 
    .t-heading {
      font-family: "sw-heading";
      font-size: 3.6em;
    }
  }
}