#ribbon {
  width: 180px;
  height: 40em;
  position: relative;
  overflow: hidden;
  margin-top: -0.8em; }
  #ribbon .inset {
    width: 200px;
    height: 55px;
    position: absolute;
    top: -50px;
    left: -10px;
    z-index: 5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3); }
  #ribbon .container {
    position: relative;
    width: 100px;
    height: 40em;
    overflow: hidden;
    margin: 0 auto;
    border-left: 1px solid #631a15;
    border-right: 1px solid #631a15; }

#ribbon .base {
  height: 35em;
  width: 100px;
  background: #ac2521;
  background: -moz-linear-gradient(top, #ac2521 0%, #6a1a19 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ac2521), color-stop(100%, #6a1a19));
  background: -webkit-linear-gradient(top, #ac2521 0%, #6a1a19 100%);
  background: -o-linear-gradient(top, #ac2521 0%, #6a1a19 100%);
  background: -ms-linear-gradient(top, #ac2521 0%, #6a1a19 100%);
  background: linear-gradient(top, #ac2521 0%, #6a1a19 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c73b3c', endColorstr='#b8201f',GradientType=0 );
  position: relative;
  z-index: 2; }
  #ribbon .base img {
    position: relative;
    opacity: 0.55;
    top: 42%;
    display: block;
    margin: 0 auto; }
  #ribbon .base.base:after {
    content: '';
    position: absolute;
    top: 0;
    width: 86px;
    left: 6px;
    height: 36em;
    border-left: 1px dashed #631a15;
    border-right: 1px dashed #631a15; }
  #ribbon .base.base:before {
    content: '';
    position: absolute;
    top: 0;
    width: 86px;
    left: 7px;
    height: 36em;
    border-left: 1px dashed #da5050;
    border-right: 1px dashed #da5050; }

#ribbon .left_corner {
  width: 100px;
  height: 100px;
  background: #6a1a19;
  position: absolute;
  bottom: 20px;
  left: -50px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
#ribbon .right_corner {
  width: 100px;
  height: 100px;
  background: #6a1a19;
  position: absolute;
  bottom: 20px;
  right: -50px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.ch-grid {
  margin: 8em 0 8em 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%; }

.ch-grid:after,
.ch-item:before {
  content: '';
  display: table; }

.ch-grid:after {
  clear: both; }

.ch-grid li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 20px; }

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(128, 128, 128, 0.1);
  transition: all 0.4s ease-in-out; }

.ch-img-1 {
  background-image: url(/images/icons/empire-500.png);
  background-repeat: no-repeat;
  background-size: 13.6em;
  background-position: 50% 50%; }

.ch-img-2 {
  background-image: url(/images/icons/empire-500.png);
  background-repeat: no-repeat;
  background-size: 13.6em;
  background-position: 50% 50%; }

.ch-img-3 {
  background-image: url(/images/icons/empire-500.png);
  background-repeat: no-repeat;
  background-size: 13.6em;
  background-position: 50% 50%; }

.ch-info {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
  backface-visibility: hidden; }

.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 30px;
  padding: 65px 0 0 0;
  height: 110px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3); }

.ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5); }

.ch-info p a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif; }

.ch-info p a:hover {
  color: rgba(255, 242, 34, 0.8); }

.ch-item:hover {
  box-shadow: inset 0 0 0 110px rgba(156, 31, 29, 0.8), inset 0 0 0 16px rgba(156, 31, 29, 0.8), 0 1px 2px rgba(156, 31, 29, 0.8); }

.ch-item:hover .ch-info {
  opacity: 1;
  transform: scale(1); }

/*# sourceMappingURL=modules.css.map */
